html,
body {
  height: 100%;
  margin: 0;
}

.menu a {
  text-decoration: none;
  color: black;
}

.menu {
  font-family: 'MainFont', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  margin: auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-left,
.menu-right {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sebu_menu {
  width: 100%;
  margin-bottom: 10px;
}

.menu_title p {
  font-weight: bold;
  font-size: 20px;
}

.menu_sebu p {
  font-size: 15px;
  margin: 0.2rem 0;
}

@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    height: auto;
    top: auto;
    left: auto;
    transform: none;
    position: static;
  }

  .menu-left,
  .menu-right {
    width: 90%;
  }
}
